.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toggler{
    width: 80vw;
    height: 5vh;
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-top: 2vh;
}

.expense{
    height: 5vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expense a{
    color: #48CBE8;
    font-size: large;
}

.income{
    height: 5vh;
    width: 40vw;
    background-color: #31C7E8;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.row1{
    width: 80vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

.item1{
    width: 37vw;
    height: 8vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1 i{
    color: #7B61FF;
    width: 10vw;
}

.text{
    display: flex;
    flex-direction: column;
}

.item2{
    width: 37vw;
    height: 8vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon2 i{
    color: #17ADCE;
    width: 10vw;
}

.row2{
    width: 80vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

.item3{
    width: 37vw;
    height: 8vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon3 i{
    color: #FF6196;
    width: 10vw;
}

.item4{
    width: 37vw;
    height: 8vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon4 i{
    color: #269F49;
    width: 10vw;
}

.row4{
    width: 80vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

.item7{
    width: 37vw;
    height: 8vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon7 i{
    color: #6196FF;
    width: 10vw;
}

.item8{
    width: 37vw;
    height: 8vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon8 i{
    color: #F09E00;
    width: 10vw;
}

.row5{
    width: 80vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

.item9{
    width: 37vw;
    height: 8vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon9 i{
    color: #00C763;
    width: 10vw;
}

.item10{
    width: 37vw;
    height: 8vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon10 i{
    color: #FF6161;
    width: 10vw;
}