.laana {
    background-image: linear-gradient(rgb(49, 199, 232), rgb(63, 197, 255), rgb(51, 142, 222), rgb(40, 89, 191), rgb(30, 43, 164));
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.laana1 {
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.logo2 {
    background-image: url(../styles/logo2.png);
    width: 50vw;
    height: 10vh;
    background-repeat: no-repeat;
}

.cont{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mail{
    display: grid;
    width: 70vw;
    height: 15vh;
    border-bottom:1px solid white; 
    margin-bottom: -6vh;
    position: relative;
    top: 1vh;
}

.pass{
    display: grid;
    width: 70vw;
    height: 15vh;
    border-bottom:1px solid white;
}

.pass1{
    display: grid;
    width: 70vw;
    height: 15vh;
    border-bottom:1px solid white;
    margin-top: -6vh;
}

.mail input{
    position: relative;
    left: 15vw;
    border: none;
    background: local;
}

.pass input{
    position: relative;
    left: 15vw;
    background: local;
    border: none;
    text-decoration-color: white;
    margin-bottom: 3vh;
    width: 70vw;
}

.pass1 input{
    position: relative;
    left: 15vw;
    background: local;
    border: none;
    text-decoration-color: white;
    margin-bottom: 3vh;
    width: 70vw;
}

.mail i{
    position: relative;
    top:10vh;
    left: 5vw;
    color: white;
    height: 10vh;
    width: 10vh;
    margin-top: 2vh;
}

.pass i{
    position: relative;
    top:10vh;
    left: 5vw;
    color: white;
    height: 10vh;
    width: 10vh;
    margin-top: 2vh;
}

.pass input::placeholder{
    color: white;
    font-size: large;
    height: 10vh;
    width: 30vh;
    margin-bottom: 1vh;
}

.pass1 i{
    position: relative;
    top:10vh;
    left: 5vw;
    color: white;
    height: 10vh;
    width: 10vh;
    margin-top: 2vh;
}

.pass1 input::placeholder{
    color: white;
    font-size: large;
    height: 10vh;
    width: 30vh;
    margin-bottom: 1vh;
}


.mail input::placeholder{
    color: white;
    font-size: large;
    height: 10vh;
    width: 20vh;
    margin-bottom: 1vh;
}

.submit{
    position: relative;
    top: 10vh;
}

.submit input {
    width: 55vw;
    height: 7vh;
    background-color: white;
    border-radius: 50px;
    border: none;
    color: #34416F;
}