* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:#EEFCFF;
}

.navigation {
  width: 390px;
  height: 86px;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.ball {
  background-color: #31C7E8;
  width: 1vh;
  height: 1vh;
  border-radius: 100%;
  padding-top: 0.5vh;
  margin: auto;
  display: none;
}

.navigation ul {
  display: flex;
  /* width: 350px; */
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 97.5px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.navigation ul li .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #B5E7F2;
}

.navigation ul li.active .icon {
  color: #31C7E8
}

.navigation ul li.active .ball {
  display: block;
}

.indicator {
  position: absolute;
  width: 97.5px;
  height: 70px;
}