html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.body{
  background-color: aqua;
}

.dood_tal {
  background-color: white;
  position: absolute;
  bottom: 0%;
  width: 100vw;
  height: 10vh;
  display: flex;
}
.dood_tal_1 {
  width: 25vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home1 {
  position: absolute;
  bottom: 0%;
  width: 100vw;
  height: 10vh;
  background-color: blanchedalmond;
  display: flex;
}
.home11 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 10vh;
}

i{
  color: rgb(186, 236, 247, 1);
  font-size: 4vh;
  padding-bottom: 1vh;
}
.ball {
  padding-top: 0.5vh;
  width: 1vh;
  height: 1vh;
  background-color: rgb(49, 199, 232);
  border-radius: 50%;
  margin: auto;
  display: none;
}
.home11:active .ball{
  display: block;
  background-color: blueviolet;
}