* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  height: 899px;
  width: 390px;
  background-color: #eefcff;
}

.container {
  display: table;
  margin: 0;
  padding: 0;
}
/* navbar code starts*/
.navigation {
  width: 100vw;
  height: 86px;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  background-color: #31c7e8;
  width: 1vh;
  height: 1vh;
  border-radius: 100%;
  padding-top: 1vh;
  margin: auto;
  display: none;
}

.icon {
  margin-bottom: -2.4vh;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 97.5px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.navigation ul li .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #b5e7f2;
}

.navigation ul li.active .icon {
  color: #31c7e8;
}

.navigation ul li.active .ball {
  display: block;
}

/* navbar code ends and main layout starts*/

.header1 {
  background-image: url(./Vector91.png), url(./Vector10.png);
  width: 100vw;
  height: 15vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.logocont.hide {
  width: 100vw;
  justify-content: center;
  display: flex;
  display: none;
}

.logo {
  background-image: url(./logo.png);
  width: 46vw;
  height: 10vh;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 7%;
  left: 30%;
}

.header {
  height: 20vh;
  justify-content: center;
  width: 100vw;
}

.neg {
  background-image: linear-gradient(
    to bottom right,
    rgb(33, 186, 220),
    rgb(174, 240, 255)
  );
  width: 80vw;
  height: 14vh;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
}

.negcont.hide {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  display: none;
}

.negcont {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.neg11 {
  font-size: xx-large;
  font-family: Bold;
  color: white;
}

.neg1 {
}

.neg2 {
  height: 12vh;
  width: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.neg21 {
  width: 8vh;
  height: 8vh;
  border-radius: 100%;
  border: 2px solid #ffffff;
  background-color: rgba(255, 0, 0, 0.471);
}

.neg12 {
  color: rgba(255, 255, 255, 0.6);
  font-size: small;
}

.hoyrcont {
  margin-top: 4vh;
  width: 100vw;
  height: 14vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hoyrcont.hide {
  margin-top: 4vh;
  width: 100vw;
  height: 14vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}

.hoyr {
  width: 80vw;
  height: 12vh;
  background-color: white;
  border-radius: 25px;
  display: flex;
}

.hoyr1 {
  height: 12vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(121, 94, 237, 1);
  font-size: 3vh;
}

.hoyr2 {
  height: 12vh;
  width: 36vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoyr21 {
  color: rgba(121, 94, 237, 0.5);
}

.hoyr23 {
  color: rgba(121, 94, 237, 0.5);
}

.hoyr22 {
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
  font-size: 2.5vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(121, 94, 237, 1);
}

.hoyr3 {
  height: 12vh;
  width: 24vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoyr31 {
  height: 6vh;
  width: 6vh;
  border-radius: 100%;
  border: 1px solid rgba(121, 94, 237, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: rgba(121, 94, 237, 1);
  font-family: Verdana, Tahoma, sans-serif;
  background-color: white;
}

.guravcont {
  margin-top: 1vh;
  width: 100vw;
  height: 14vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.guravcont.hide {
  display: none;
}

.gurav {
  width: 80vw;
  height: 12vh;
  background-color: white;
  border-radius: 25px;
  display: flex;
}

.gurav1 {
  height: 12vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(94, 140, 237, 1);
  font-size: 3vh;
}

.gurav2 {
  height: 12vh;
  width: 36vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gurav21 {
  color: rgba(94, 140, 237, 0.5);
}

.gurav23 {
  color: rgba(94, 140, 237, 0.5);
}

.gurav22 {
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
  font-size: 2.5vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(94, 140, 237, 1);
}

.gurav3 {
  height: 12vh;
  width: 24vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gurav31 {
  height: 6vh;
  width: 6vh;
  border-radius: 100%;
  border: 1px solid rgba(94, 140, 237, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: rgba(94, 140, 237, 1);
  font-family: Verdana, Tahoma, sans-serif;
  background-color: white;
}

.dorovcont {
  margin-top: 1vh;
  width: 100vw;
  height: 14vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dorovcont.hide {
  margin-top: 1vh;
  width: 100vw;
  height: 14vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}

.dorov {
  width: 80vw;
  height: 12vh;
  background-color: white;
  border-radius: 25px;
  display: flex;
}

.dorov1 {
  height: 12vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(49, 199, 232, 1);
  font-size: 3vh;
}

.dorov2 {
  height: 12vh;
  width: 36vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dorov21 {
  color: rgba(49, 199, 232, 0.5);
}

.dorov23 {
  color: rgba(49, 199, 232, 0.5);
}

.dorov22 {
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
  font-size: 2.5vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(49, 199, 232, 1);
}

.dorov3 {
  height: 12vh;
  width: 24vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dorov31 {
  height: 6vh;
  width: 6vh;
  border-radius: 100%;
  border: 1px solid rgba(49, 199, 232, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: rgba(49, 199, 232, 1);
  font-family: Verdana, Tahoma, sans-serif;
  background-color: white;
}
