.hoyrcont {
    margin-top: 4vh;
    width: 100vw;
    height: 14vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.hoyr {
    width: 80vw;
    height: 12vh;
    background-color: white;
    border-radius: 25px;
    display: flex;
}
  
.hoyr1 {
    height: 12vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(121, 94, 237, 1);
    font-size: 3vh;
}
  
.hoyr2 {
    height: 12vh;
    width: 36vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.hoyr21 {
    color: rgba(121, 94, 237, 0.5);
}
  
.hoyr23 {
    color: rgba(121, 94, 237, 0.5);
}
  
.hoyr22 {
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
    font-size: 2.5vh;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: rgba(121, 94, 237, 1);
}
  
.hoyr3 {
    height: 12vh;
    width: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.hoyr31 {
    height: 6vh;
    width: 6vh;
    border-radius: 100%;
    border: 1px solid rgba(121, 94, 237, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: rgba(121, 94, 237, 1);
    font-family: Verdana, Tahoma, sans-serif;
    background-color: white;
}
  
.guravcont {
    margin-top: 1vh;
    width: 100vw;
    height: 14vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.gurav {
    width: 80vw;
    height: 12vh;
    background-color: white;
    border-radius: 25px;
    display: flex;
}
  
.gurav1 {
    height: 12vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(94, 140, 237, 1);
    font-size: 3vh;
}
  
.gurav2 {
    height: 12vh;
    width: 36vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.gurav21 {
    color: rgba(94, 140, 237, 0.5);
}
  
.gurav23 {
    color: rgba(94, 140, 237, 0.5);
}
  
.gurav22 {
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
    font-size: 2.5vh;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: rgba(94, 140, 237, 1);
}
  
.gurav3 {
    height: 12vh;
    width: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.gurav31 {
    height: 6vh;
    width: 6vh;
    border-radius: 100%;
    border: 1px solid rgba(94, 140, 237, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: rgba(94, 140, 237, 1);
    font-family: Verdana, Tahoma, sans-serif;
    background-color: white;
}
  
.dorovcont {
    margin-top: 1vh;
    width: 100vw;
    height: 14vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.dorov {
    width: 80vw;
    height: 12vh;
    background-color: white;
    border-radius: 25px;
    display: flex;
}
  
.dorov1 {
    height: 12vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(49, 199, 232, 1);
    font-size: 3vh;
}
  
.dorov2 {
    height: 12vh;
    width: 36vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.dorov21 {
    color: rgba(49, 199, 232, 0.5);
}
  
.dorov23 {
    color: rgba(49, 199, 232, 0.5);
}
  
.dorov22 {
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
    font-size: 2.5vh;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: rgba(49, 199, 232, 1);
}
  
.dorov3 {
    height: 12vh;
    width: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.dorov31 {
    height: 6vh;
    width: 6vh;
    border-radius: 100%;
    border: 1px solid rgba(49, 199, 232, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: rgba(49, 199, 232, 1);
    font-family: Verdana, Tahoma, sans-serif;
    background-color: white;
}