.goy {
    width: 100vw;
    position: absolute;
    top: 8%;
}

.goyzuragbagtaamj {
    display: flex;
    height: 156px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.goyzurag {
    width: 156px;
    height: 156px;
    background-color: aqua;
    border-radius: 100%;
    border: 1px solid black;
}

.goyzuraas {
    width: 117px;
    height: 1px;
    background-color: black;
}

.goyzuraas1 {
    width: 117px;
    height: 1px;
    background-color: black;
}