/* .father {
    width: 100vw;
    height: 74vh;
    background-color: #fff;
    display: flex;
}

.father ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    left: 29.7vw;
}

.father ul li {
    list-style: none;
    width: 50vw;
    height: 10vh;
    display: flex;
<<<<<<< HEAD
}
=======
    /* justify-content: space-around; */
/* } */
>>>>>>> ffac9f48607ff4b9921d37f9815d642526bb64f6

/* .father ul li .iconS {
    font-size: 1.3em;
    display: block;
    color: #000;
} */

/* .father ul li .textS {
    font-size: 1em;
    color: #000;
    display: flex;
    gap: 10vw;
}

.father span {
    width: 70vw;
}

.profile { 
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    top: 10vh;
    left: 28vw;
} */

.goy {
    width: 100vw;
    position: absolute;
    top: 8%;
}

.goyzuragbagtaamj {
    display: flex;
    height: 156px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.goyzurag {
    width: 156px;
    height: 156px;
    background-color: aqua;
    border-radius: 100%;
    border: 1px solid black;
}

.goyzuraas {
    width: 117px;
    height: 1px;
    background-color: black;
}

.goyzuraas1 {
    width: 117px;
    height: 1px;
    background-color: black;
}